# Maven output Directory
target

# Logfiles
Log

# Symlinks aus Mpjoe Common
src/main/java/de/jme/toolbox
src/test/java/de/jme/toolbox
src/main/java/de/jme/util
src/test/java/de/jme/util
src/main/java/de/jme/jsi
src/test/java/de/jme/jsi
src/main/java/de/jme/thrift
src/test/java/de/jme/thrift
src/main/java/de/jme/mpj
src/test/java/de/jme/mpj
src/main/resources/de/jme/mpj
src/test/resources/de/jme/mpj
